<section class="main py-5">
  <div class="container-lg px-0">
    <ngb-carousel [interval]="3000" [showNavigationArrows]="true" [showNavigationIndicators]="true">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="images/main1.jpg" class="d-block w-100" alt="Фото 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="images/main2.jpg" class="d-block w-100" alt="Фото 2">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="images/main3.jpg" class="d-block w-100" alt="Фото 3">
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</section>

<section class="faq py-5">
  <div class="container">
    <h2 class="fw-bold text-center mb-5">Ответы на часто задаваемые вопросы</h2>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div id="accordion" class="ui-accordion">
          <h3 class="ui-accordion-header border-0 rounded p-4 fw-bold bg-primary bg-gradient text-white mb-3">
            Собираете ли вы подарочные боксы?
          </h3>
          <div class="ui-accordion-content border-0 text-black pt-0">
            <p>
              Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и
              стоимость!
            </p>
          </div>
          <h3 class="ui-accordion-header border-0 rounded p-4 fw-bold bg-primary bg-gradient text-white mb-3">
            В какой срок осуществляется доставка?
          </h3>
          <div class="ui-accordion-content border-0 text-black pt-0">
            <p>
              Доставка длится от 2-х до 7-ми дней
            </p>
          </div>
          <h3 class="ui-accordion-header border-0 rounded p-4 fw-bold bg-primary bg-gradient text-white mb-3">
            У вас обновляется ассортимент?
          </h3>
          <div class="ui-accordion-content border-0 text-black pt-0">
            <p>
              Конечно, каждый месяц мы обновляем коллекцию чая
            </p>
          </div>
          <h3 class="ui-accordion-header border-0 rounded p-4 fw-bold bg-primary bg-gradient text-white mb-3">
            Какого объема у вас пачки чая?
          </h3>
          <div class="ui-accordion-content border-0 text-black pt-0">
            <p>
              У нас можно заказать чай объема 200г - 1000г
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="popup position-fixed top-0 start-0 z-2 w-100 h-100 bg-black bg-opacity-25" *ngIf="isOpen">
  <div class="d-flex align-items-center justify-content-center h-100">
    <div class="bg-white p-1 rounded-3">
      <div class="">
        <div class="d-flex justify-content-end">
          <button type="button" class="btn-close" aria-label="Close" (click)="closePopup()"></button>
        </div>
        <div class="text-center fs-4 p-4">
          Посмотрите наши чайные коллекции
        </div>
        <div class="d-flex justify-content-center p-3">
          <button type="button" class="btn btn-primary" [routerLink]="'/products'">Смотреть</button>
        </div>
      </div>
    </div>
  </div>
</section>
